*.jpg
*.log
*.local
*.env
*.tmp
*.bak
*.out
yopta-server
vite.config.js
C*.md

logs
frontend/node_modules
frontend/dist
frontend/.env
frontend/.vscode
frontend/.vite_cache
frontend/package-lock.json
frontend/src/assets/clip01.js
frontend/src/assets/clip02.js

backend/.env
backend/go.sum
backend/go.mod
backend/static
